
.menu{
    /* background-color: orange; */
}

.linkText{
    text-align: right;
    /* color: blue; */
    /* outline: auto; */
    color: rosybrown;
}

.work {
    /* background-color: aquamarine; */

    color: rosybrown;
    font-size: clamp(6rem, 15vw, 12rem);
}

.about
{
    font-size: clamp(2rem, 6vw, 8rem);
}

.contact {
    font-size: clamp(2rem, 3vw, 8rem);
}
.about:hover{
 opacity: 50%;
}

.contact:hover {
    color: grey;
    opacity: 50%;
}